@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* CSS Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Categories Page */

/* Category */
#category .card{
  cursor: pointer;
}

#category text{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}
#sub, #sub1, #sub2, #sub3, #sub4, #sub5, #sub6, #sub7, #sub8, #sub9 {
  display: none;
}


/* Library */

#library{
  position: relative;
  top: 30px;
  padding: 2rem;
}

#library .card-img-top{
  width: 60%;
  height: 200px;
  margin: auto;
}
